@media screen and (max-width: 1170px)
  .banner
    &-img, &-service-img
      bottom: 0
      right: 0
      width: 40%
      top: auto
  .header
    &-email
      font-size: 14px
    &-city
      span
        display: block
        margin-bottom: 3px
  .contacts
    &1
      display: block
      &-content
        width: 100%
      &-map
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        position: static
        height: 500px
        img
          display: block
          max-width: 100%
          max-height: 100%
    &-wrapper
      padding: 60px 0
      &::before
        display: none
    &-list
      padding: 0
  .call
    &-flex
      display: block
      max-width: 400px
      margin: 0 auto
      &2
        display: block
    &-label
      &-half
        width: 100%
    &-col
      width: 100%
    &-politic, &-submit
      width: 100%
      margin-bottom: 10px



@media screen and (max-width: 980px)
  .header
    &-top
      &__wrapper
        flex-wrap: wrap
    &-city
      span
        display: inline-block
    &-contacts
      width: 70%
      margin: 15px 0 0
    &-btn
      width: 30%
      margin: 15px 0 0
  .serv-main
    &__item
      width: 50%
  .work
    &s
      &-tab
        display: inline-block
        margin-right: 30px
        margin-bottom: 10px
        &s
          display: block
  .footer
    &-wrapper
      flex-wrap: wrap
    &-logo
      &__block
        order: -2
    &-contacts
      order: -1
    &-block
      width: 60%
      margin: 20px 0
      &2
        width: 40%
        padding-left: 40px
  .section
    &-title
      font-size: 24px;
      line-height: normal
      margin-bottom: 30px
      padding-left: 23px
      &-text
        font-size: 15px;
        line-height: normal
        padding-left: 23px
      &::before
        width: 15px;
        height: 4px;
        top: 11px

    &2
      &-wrapper
        padding: 45px 0 50px
        &::before
          display: none
      &-letter
        font-size: 323px
        line-height: 1
        top: -60px
      &-content
        font-size: 14px
        line-height: 24px
        p
          margin-bottom: 10px
  .bottom
    padding: 10px 0
    background: url(../images/services-bg.jpg) no-repeat center
    background-size: cover
    &-map
      height: 435px
      position: static
    &-plash
      position: relative
      top: -40px
      margin: 0 auto
      &::before
        top: 5px
        left: 5px
  .article
    &-thumb
      float: none
      width: 100%
      max-width: 600px
      height: 300px
      margin: 0 auto 20px
      &::before
        top: 10px
        left: 10px
  .sale
    &-plash
      padding: 30px 0 50px
      display: block
    &-content
      padding: 0 20px
      margin-bottom: 20px
      font-size: 16px
      line-height: 27px
      &2
        width: 100%
        padding-top: 20px
      b
        font-size: 20px
    &-counter
      margin: 0
      &__flex
        justify-content: center
    &-count
      &__block
        span
          width: 39px
          height: 47px
          font-size: 23px
          line-height: 47px
  .content
    &1
      padding: 40px 0
      &-flex
        flex-wrap: wrap
      &-img
        width: 100%
        height: 200px
        margin: 0 0 30px
      &-link
        margin-bottom: 10px
        a
          font-size: 14px
          line-height: normal
        &s
          width: 100%
          order: 10
          padding: 0
  .difference
    padding: 40px 0 70px
    &-block
      flex-wrap: wrap
      &:nth-child(2n) &__slider
        margin: 0 auto 30px

      &__content
        padding: 0
        order: 10
      &__slider
        margin: 0 auto 30px
  .item
    width: 50%
  .calc
    &-right
      margin-left: 30px
  .cert
    width: 25%
  .wie
    &-flex
      display: block
    &-nav
      width: 600px
      margin: 0 auto 30px
  .slider
    width: 600px
    margin: 0 auto
    &s-wrapper
      display: block
  .form-img
    left: auto
    right: -20%
    height: 320px
    width: auto

@media screen and (max-width: 768px)
  .header
    &-logo
      img
        width: 55px
        height: 22px
    &-top
      padding: 7px 0 14px
    &-email
      display: none
    &-city
      width: calc(100% - 100px)
      text-align: center
    &-time
      display: none
    &-contacts
      order: 10
      margin-top: 7px
      width: calc(100% - 160px)
      text-align: center
    &-btn
      width: 150px;
      height: 38px;
      border: 2px solid #ff6200;
      font-size: 9px;
      margin-top: 7px
      &:hover, &:active
        font-size: 9px
    &-phone
      font-size: 14px;
      margin: 0
      letter-spacing: 0
    &-menu
      position: fixed
      top: 0
      left: 0
      width: 100%
      background-color: #4d4d4d;
      z-index: 90
      padding-bottom: 35px
      max-height: 100vh
      overflow-y: auto
      opacity: 0
      visibility: hidden
      &.active
        opacity: 1
        visibility: visible
      &__container
        display: block
        padding: 20px 0 40px
        & > li
          position: static
          height: 50px
          text-align: left
          justify-content: flex-start
          &::after
            display: none
          &:hover .header-menu__drop
            top: 0
            opacity: 1
            visibility: visible
      &__close
        display: block
        position: absolute
        top: 14px
        right: 14px
        width: 22px
        height: 22px
        transform: rotate(45deg)
        cursor: pointer
        &::before
          position: absolute
          width: 22px
          height: 2px
          border-radius: 2px
          content: ''
          background: #ff6200;
          left: 0
          top: 10px
        &::after
          position: absolute
          height: 22px
          width: 2px
          border-radius: 2px
          content: ''
          background: #ff6200;
          top: 0
          left: 10px
      &__mobile
        display: block
        .header
          &-btn
            margin: 15px 0
          &-time
            display: block
            margin: 20px 0
            opacity: 0.8;
            color: #ffffff;
            font-family: Montserrat;
            font-size: 12px;
            font-weight: 400;
          &-contacts
            margin: 0
            width: 100%
            text-align: left
          &-phone
            color: #fff
          &-email
            display: inline-block
            color: #fff
      &__drop
        position: absolute
        top: 0
        left: 100%
        width: 100%
        height: 100%
        background: #fff
        padding: 30px 15px
        &_container
          position: relative
        &_close
          display: block
          position: absolute
          top: 29px
          right: 16px
          transform: rotate(90deg)
          z-index: 2
          width: 16px
          height: 8px
          background: url(../images/icons.svg#arrow-drop) no-repeat center
          background-size: contain 
        &_link
          &::after
            transform: rotate(-90deg)
        &.active
          opacity: 1
          visibility: visible
          left: 0
  .butter
    position: relative
    display: flex
    align-items: center
    width: 32px;
    height: 32px;
    padding: 5px
    flex-shrink: 0
    background-image: linear-gradient(to top, #ff6200 0%, #fd8134 100%);
    i
      position: relative
      display: block
      width: 15px;
      height: 2px;
      background-color: #ffffff;
      &::before
        position: absolute
        left: 0
        top: -5px
        content: ''
        width: 23px;
        height: 2px;
        background-color: #ffffff;
      &::after
        position: absolute
        left: 0
        top: 5px
        content: ''
        width: 19px;
        height: 2px;
        background-color: #ffffff;
  .banner
    &-img
      height: 220px
      width: auto
      right: -30%
    &-list
      padding-right: 90px
    &-wrapper
      padding: 30px 0
      &2
        padding: 30px 0 120px
    &-service
      &-img
        bottom: 40px
    &-title
      font-size: 28px;
      margin-bottom: 30px
      line-height: normal;
      &2
        font-size: 22px;
        line-height: normal
        margin-bottom: 10px
    &-price
      font-size: 18px
    &-item
      width: 100%
      margin-bottom: 15px
      &__img
        width: 36px
        height: 36px
        margin-right: 20px
        img
          max-width: calc(100% + 10px)
          max-height: calc(100% + 10px)
      &__title
        font-size: 11px;
        line-height: normal
      &__text
        font-size: 12px;
        line-height: normal
  .btn2
    width: 180px
    height: 50px
    font-size: 11px;
  .serv-main
    &__list
      margin: 90px 0 0
    &__flex
      top: -60px
      &::before
        width: calc(100% - 20px)
    &__item
      width: 100%
      padding: 0
      margin-bottom: 10px
      &_img
        height: 200px
      &_content
        padding: 15px 25px 20px
      &_title
        font-size: 14px
        line-height: 26px
      &_price
        font-size: 16px
        line-height: 26px
  .work
    margin-bottom: 13px
    &-container
      height: 200px
    &s
      &-wrapper
        padding: 35px 0
        &::before
          display: none
      &-tab
        &s
          margin-bottom: 20px
      &-block
        &.active
          display: block
  .material
    width: 100%
    margin-bottom: 30px
    padding: 0
    &-title
      margin: 5px 0 5px
      font-size: 16px
      line-height: normal
    &-text
      font-size: 14px
      margin-bottom: 0px
    &-btn
      width: 200px
      height: 50px
    &s
      padding: 45px 0
      &-list
        margin: 30px 0
        display: block
  .bottom
    &-plash
      padding: 40px 35px 50px
      width: 100%
      max-width: 400px
      &__title
        font-size: 16px
        line-height: 26px
        margin-bottom: 10px
        text-transform: uppercase
      &__block
        font-size: 14px;
        line-height: 24px
        margin-bottom: 20px
  .btn3
    width: 200px
    height: 50px
    font-size: 11px
  .popup
    &-content
      padding: 30px 35px
      width: 100%
      max-width: 350px
    &-title
      font-size: 20px;
      line-height: normal
      margin-bottom: 10px
      text-align: center
    &-subtitle
      text-align: center
      font-size: 12px
      line-height: 20px
      margin-bottom: 10px
    &-form
      margin-top: 15px
      &__politic
        font-size: 11px
        line-height: 16px
  .input
    height: 50px
    font-size: 12px
    margin-bottom: 10px
  .submit
    width: 100%
  .label
    &-span
      top: 14px
  .catalog
    padding: 40px 0
    &-item
      margin-bottom: 30px
      &__container
        display: block
      &__img
        width: 100%
        margin: 0 0 20px
      &__btn
        margin-top: 20px
  .pagenavi
    margin-top: 40px
    a, span
      margin: 0 5px
  .header
    &-city
      &__drop
        top: 20px
        width: 280px
        left: 50%
        transform: translateX(-50%)
        padding: 20px
        &.active
          top: 20px
        &_title
          font-size: 20px
          line-height: normal
          margin-bottom: 20px
      &__item
        margin-bottom: 20px
  .contacts1
    &-map
      height: auto
  .contacts
    &-list
      display: block
      &__item
        margin-bottom: 15px
        a
          font-size: 15px
  .call
    padding: 40px 0
    .section2-letter
      display: none
    &-label
      margin: 0
    &-textarea
      padding: 15px
    &-title
      padding-left: 23px
      margin-bottom: 20px
      font-size: 15px;
      line-height: normal
      &__h
        font-size: 24px
        margin-bottom: 15px
        &::before
          width: 15px
          height: 4px
          top: 10px
          left: -23px
  .article
    padding: 40px 0
    &-content
      font-size: 14px
      line-height: 24px
      p
        margin-bottom: 15px
    &-more
      padding: 40px 0
  .material50 .material-img
    max-width: 100%
  .difference
    &-block
      &__slider
        width: 100%
        max-width: 400px
      .btn2
        width: 200px
  .object
    width: 50%
    padding: 0
    margin-bottom: 25px
    &-title
      font-size: 14px
    &-img
      width: 36px
      height: 36px
      margin-bottom: 12px
      img
        display: block
        max-width: calc(100% + 12px)
    &s
      padding: 0
      &-plash
        top: -40px
        padding: 20px
      &-title
        font-size: 19px
        line-height: normal
        &::after
          display: none
      &-list
        flex-wrap: wrap
  .vybor
    padding: 40px 0
  .main-subtitle
    font-size: 19px
    margin: 20px 0
    &::after
      display: none
  .item
    width: 100%
  .price
    width: 100%
    overflow-x: auto
    &2
      padding: 40px 0
    &-table
      min-width: 600px
      margin: 0
    &-btn-all
      margin: 20px 0 0
  .calc
    padding: 40px 0
    &-flex
      display: block
    &-block
      margin-bottom: 25px
      &__title
        font-size: 13px
        line-height: normal
        margin-bottom: 13px
    &-pips
      span
        padding-top: 12px
        font-size: 12px
        line-height: normal
        &::before
          height: 8px
    &-block
      &__flex
        justify-content: space-between
    &-label
      width: calc(33.333% - 5px)
      margin: 0
      &__custom
        margin: 0
        min-width: 0
        height: 38px
        font-size: 14px
        padding: 0
        line-height: 1
    &-right
      width: 100%
      margin: 40px 0 0
      padding: 0
    &-result
      &__span
        font-size: 18px
        line-height: 1
      &__value
        font-size: 26px;
        margin: 10px 0
        line-height: 1
      &__old
        font-size: 18px;
        line-height: 1
    &-form
      &__title
        font-size: 18px
      &__subtitle
        font-size: 14px
        line-height: 1
      &__ps
        font-size: 14px
        line-height: 1
      &__politic
        line-height: 1
  .price-table th:first-child, .price-table td:first-child
    padding-left: 20px
  .rangeslider--horizontal .rangeslider__handle
    width: 12px
    height: 12px
    border-width: 3px
    top: -2px
    margin: 0
  .inner-call
    padding: 40px 0
    &__flex
      display: block
    &__btn
      margin-top: 25px
  .section-title
    margin-bottom: 15px
  .preim
    padding: 40px 0
    &-list
      margin: 30px 0 0
      flex-wrap: wrap
    &-item
      width: 50%
  .cert
    width: 120px
    height: 170px
    margin-right: 6px
    flex-shrink: 0
    &-container
      height: 100%
    &s
      &-list
        width: 100%
        overflow-x: auto
  .wie
    padding: 100px 0 40px
    &-flex
      padding: 0
    &-nav
      width: 100%
      padding: 30px 20px
      &::before
        font-size: 213px
        line-height: 1
        bottom: -30px
        right: -30px
      &__link
        font-size: 14px;
        line-height: normal
        margin-bottom: 15px
        &::after
          display: none
    &-block
      padding: 24px
      &__title
        font-size: 16px
      &__img
        height: 146px
        margin-bottom: 20px
      &__text
        font-size: 14px;
        line-height: normal
  .type
    padding: 0
    &-img
      height: 160px
    &-title
      font-size: 16px;
      line-height: normal
      padding: 0
    &-text
      font-size: 14px;
      padding: 0
      line-height: normal
    &s
      padding: 40px 0
      &-slider
        margin: 0
        padding: 0
        .slick
          &-arrow
            top: 70px
            width: 21px
            height: 11px
            background-size: contain
            &:hover
              background-size: contain
  .slider
    padding: 0
    width: 100%
    &s
      padding: 40px 0
    &:hover
      box-shadow: none
  .slider-block__slide_container
    height: 200px
  .faq
    padding: 40px 0
    &-item
      padding: 25px
    &-quest
      font-size: 16px
      line-height: normal
      padding-right: 25px
      &::after
        width: 24px
        height: 13px
  .form
    &-wrapper
      padding: 40px 0
    &-img
      display: none
    &-flex
      margin: 0

@media screen and (max-width: 480px)
  .footer
    &-logo
      margin-bottom: 15px
      img
        width: 55px
        height: 22px
    &-btn
      margin: 20px 0 10px
      width: 150px
      height: 38px
      font-size: 9px
    &-contacts
      max-width: 100%
      width: 100%
    &-phone
      font-size: 14px
      line-height: normal
      margin-bottom: 10px
    &-block
      width: 49%
      &2
        padding-top: 35px
    &-menu
      &--serv
        columns: 1








